<section class="hero hero-decor">
    <div class="container hero__container">
        <h1 class="hero__title heading-h1">Activity & Updates</h1>
        <p class="hero__subtitle text-p-subtitle">
            Our biggest challenge is making sure we're always designing and
            building products that will help you run your business better.
        </p>
    </div>
    <div class="container">
        <ul class="hero__tabs">
            <li class="hero__tab hero__tab--active text-p-default">View all</li>
            <li class="hero__tab text-p-default">Design</li>
            <li class="hero__tab text-p-default">Articles</li>
            <li class="hero__tab text-p-default">Product</li>
            <li class="hero__tab text-p-default">Software Development</li>
            <li class="hero__tab text-p-default">Customer Success</li>
        </ul>
    </div>
    <div class="container">
        <div class="swiper hero__slider hero__slider--first">
            <div class="hero__slider-btns">
                <svg
                    width="28"
                    height="18"
                    viewBox="0 0 28 18"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                        stroke="#7E8492"
                        stroke-width="3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide hero__article">
                    <img
                        loading="lazy"
                        class="hero__article-img"
                        src="./image/hero-slide-1-img.png"
                        width="582"
                        height="332"
                        alt="Woman typing on laptop and wrting on a notebook"
                    />
                    <div class="hero__article-head text-p-small">
                        <div class="hero__article-date">
                            Published in Insight
                            <time datetime="2024-01-30">Jan 30, 2024</time>
                        </div>
                    </div>
                    <h3 class="hero__article-title heading-h5">
                        Practice making User Flow
                    </h3>
                    <p class="hero__article-subtitle">
                        In this article, we'll cover how to create user flows
                    </p>
                </div>
                <div class="swiper-slide hero__article">
                    <img
                        loading="lazy"
                        class="hero__article-img"
                        src="./image/hero-slide-2-img.png"
                        width="582"
                        height="332"
                        alt="Man typing on"
                    />
                    <div class="hero__article-head text-p-small">
                        <div class="hero__article-date">
                            Published in Insight
                            <time datetime="2024-01-30">Jan 30, 2024</time>
                        </div>
                    </div>
                    <h3 class="hero__article-title heading-h5">
                        Overview of the Design Principles
                    </h3>
                    <p class="hero__article-subtitle">
                        What are Design Principles?… To understand design
                        principles, we first discuss the principles.
                    </p>
                </div>
                <div class="swiper-slide hero__article">
                    <img
                        loading="lazy"
                        class="hero__article-img"
                        src="./image/hero-slide-3-img.png"
                        width="582"
                        height="332"
                        alt="Woman typing on laptop and wrting on a notebook"
                    />
                    <div class="hero__article-head text-p-small">
                        <div class="hero__article-date">
                            Published in Insight
                            <time datetime="2024-01-30">Jan 30, 2024</time>
                        </div>
                    </div>
                    <h3 class="hero__article-title heading-h5">
                        Using Grid in website design
                    </h3>
                    <p class="hero__article-subtitle">
                        Andi: "What's the grid like?" Toni: “Like below…”
                    </p>
                </div>
                <div class="swiper-slide hero__article">
                    <img
                        loading="lazy"
                        class="hero__article-img"
                        src="./image/hero-slide-2-img.png"
                        width="582"
                        height="332"
                        alt="Man typing on"
                    />
                    <div class="hero__article-head text-p-small">
                        <div class="hero__article-date">
                            Published in Insight
                            <time datetime="2024-01-30">Jan 30, 2024</time>
                        </div>
                    </div>
                    <h3 class="hero__article-title heading-h5">
                        How to build a Kaylen relationship with a good company
                    </h3>
                    <p class="hero__article-subtitle">
                        What are Design Principles?… To understand design
                        principles, we first discuss the principles.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
