<section class="posts">
    <div class="container posts__container">
        <div class="posts__column">
            <a href="#" class="post post--wide">
                <img
                    src="/image/post-img-first.png"
                    alt="post-image"
                    class="post__img"
                />
                <h3 class="post__title heading-h3">
                    How we perform long-running tasks using AWS services
                </h3>
                <p class="post__subtitle text-p-default">
                    Webflow is web design tool as well as a hosting platform and
                    CMS all in one. While you are probably familiar with all of
                    these, they are usually entirely separate tools.
                </p>
            </a>
            <a href="#" class="post">
                <img
                    src="/image/post-img-second.png"
                    alt="post-image"
                    class="post__img"
                />
                <h3 class="post__title heading-h3">
                    Layout Exploration — Simple exercise but big effect
                </h3>
                <p class="post__subtitle text-p-default">
                    Make alternatives or other options for the design we are
                    making. For example, we are creating a website design. Then
                    there is the testimonial section.
                </p>
            </a>
        </div>
        <div class="posts__column">
            <a href="#" class="post">
                <img
                    src="/image/post-img-third.png"
                    alt="post-image"
                    class="post__img"
                />
                <h3 class="post__title heading-h3">
                    How to ask when <br> doing User Research
                </h3>
                <p class="post__subtitle text-p-default">
                    Bro, the story is that you want to make an application for
                    buying and selling goods on the market. During user
                    research, what do you think you will ask people?
                </p>
            </a>
            <a href="#" class="post post--wide">
                <img
                    src="/image/post-img-fourth.png"
                    alt="post-image"
                    class="post__img"
                />
                <h3 class="post__title heading-h3">
                    Webflow Break the Coding Barrier
                </h3>
                <p class="post__subtitle text-p-default">
                    Webflow is web design tool as well as a hosting platform and
                    CMS all in one. While you are probably familiar with all of
                    these, they are usually entirely separate tools.
                </p>
            </a>
        </div>
    </div>
</section>
