@include font-face(Inter, 'inter-v20-latin-400', 400);
@include font-face(Inter, 'inter-v20-latin-500', 500);
@include font-face(Inter, 'inter-v20-latin-600', 600);
@include font-face(Inter, 'inter-v20-latin-700', 700);