.ideas {
    position: relative;
    z-index: var(--z-index-3);

    &__container {
        @include flex-justify-between;
        gap: 24px;
        flex-wrap: wrap;
        border-top: 1px solid var(--neutral-color-30);
        border-bottom: 1px solid var(--neutral-color-30);
        padding: 85px var(--container-padding);

        @include mobile {
            padding: 60px var(--container-padding);
        }
    }

    &__title {
        font-weight: 600;
    }

    &__subtitle {
        max-width: 522px;
        font-weight: 600;
        line-height: 150%;

        @include mobile {
            font-size: 18px;
        }
    }
}
